/*****************/
/*    css        */
/****************/

:root 
{
/* color */
--color-primary: #413f3f;
--color-secondary: #e73737;
--color-tertiary: #e2f153;
}

/* reset */
* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

body {
font-size: 16px;
font-weight: 400;
line-height: 1.5;
color: var(--color-primary);
}

.container {
max-width: 1200px;
margin: 0 auto;
padding: 0 20px;
}

/***********/
/* header */
/***********/

header {
background-color: var(--color-secondary);
padding: 20px 0;
height: 200px;
}

header .container {
display: flex;
justify-content: space-between;
align-items: center;
}

header img {
font-size: 1.5rem;
font-weight: 700;
color: var(--color-tertiary);
}

/***********/
/* main */
/***********/

main {
padding: 20px 0;
height: calc(100vh - 400px);
background-color: var(--color-primary);
color : var(--color-tertiary);
overflow-y: auto;
}

main .container {
display: flex;
justify-content: space-between;
align-items: center;
flex-wrap: wrap;
gap: 20px;
}


.section-2 {
    background-color: var(--color-tertiary);
    color: var(--color-primary);
    padding: 40px 0 40px 0;
}

.section-2 h2 {
    padding: 32px;
    color: var(--color-primary);
    font-size: 50px;
    font-weight: 700;
}

.card-container {
display: flex;
align-items: center;
flex-wrap: wrap;
gap: 20px;

}

.card {
background-color: var(--color-secondary);
padding: 20px;
border-radius: 5px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
width: calc(33% - 20px);
}

.card-body {
display: flex;
flex-direction: column;
justify-content: space-between;
}

.card-text {
font-size: 1.2rem;
font-weight: 700;
text-align: center;
}

.card-img {
width: 100%;
height: 200px;
object-fit: cover;
border-radius: 5px;
padding: 10px;
display: flex;
justify-content: center;
align-items: center;
}

.card-img img {
width: 100%;
height: 100%;
object-fit: cover;
border-radius: 5px;
}

.card-button {
display: flex;
justify-content: center;
align-items: center;
}

.card-btn button {
margin: 0 auto;
}



/**************/
/* footer */
/**************/

footer {
background-color: var(--color-secondary);
padding: 20px 0;
height: 200px;
}

footer .container {
display: flex;
justify-content: space-between;
}

ul {
list-style: none;
}

li {
margin-bottom: 10px;
}

a {
text-decoration: none;
color: var(--color-primary);
}

a:hover {
color: var(--color-tertiary);
}

/**************/
/* section */
/**************/

.cont-2 {
display: flex;
justify-content: space-between;
align-items: start;
align-content: center;
gap: 20px;
}

button{
background-color: var(--color-primary);
border: none;
padding: 10px 20px;
border-radius: 5px;
color: var(--color-tertiary);
cursor: pointer;
}

button:hover {
background-color: var(--color-tertiary);
color: var(--color-primary);
}

.hide {
display: none;
}
